{% load static %}
<footer class="float-start w-100 footer-new" style="margin-top: 0px; min-height: 0px; background-color: white;">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-3 g-5">
          <div class="col">
            <div class="company-detailso">
               </p>
               <div class="subcribe-siv d-flex align-items-center">
                  <p>chella05andrey@gmail.com</p>
                  <p style="margin-left: 15px;">+79999999999</p>
               </div>
              
            </div>
          </div>
              
              <div class="solint-linst d-flex align-items-center">
                 <a href="https://vk.com/" class="btn"> <img height="30px" width="30px" src="{% static 'main/images/vk.png' %}" class="fab fa-facebook-f"> </a>
                 <a href="https://t.me/piplapsq/" class="btn"> <img height="30px" width="30px" src="{% static 'main/images/telegram.png' %}" class="fab fa-twitter"> </a>
                 <a href="https://t.me/piplapsq/" class="btn"> <img height="30px" width="30px" src="{% static 'main/images/whatsapp.png' %}" class="fab fa-google"> </a>
              </div>
            </div>
          </div>
       </div>
       <hr class="bg-light">
       <div class="d-flex align-items-center justify-content-between">
        <p class="text-center text-white"> © 2024 Медведь и Щука. Все права защищены. </p>
       </div>
       
       
    </div>
  </footer>