{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список покупок</title>
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;700;800&amp;family=Big+Shoulders+Text:wght@100;200;400;500;600;700;800;900&amp;family=Epilogue:wght@400;500;600;700&amp;family=Farro:wght@300;400;500;700&amp;family=Inter:wght@200;300;500;600;700;800&amp;family=Josefin+Sans:wght@200;300;400;600;700&amp;family=Merriweather+Sans:wght@300;400;500;600;700;800&amp;family=Poppins:wght@100;200;300;400;500;600;700;800&amp;family=Prompt:wght@100;200;300;400;500;600;700;800&amp;family=Rubik:wght@300;400;500;600;700&amp;family=Shadows+Into+Light&amp;family=Work+Sans:wght@100&amp;display=swap" rel="stylesheet">

    <link href="{% static 'main/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/orders.css' %}">
</head>

<body>
    <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; min-height: 100vh;">
        {% include 'main/header.html' %}

        <main style="width: 95vw;">
            {% if orders or places %}
                {% for order in orders %}
                    <div class="order">
                        <div class="order-header">
                            <span class="order-date">{{ order.datetime_made|date:"d E Y, H:i" }}</span>
                            <span class="order-total">Сумма: {{ order.total_price }} руб.</span>
                        </div>
                        <div class="order-items">
                            <p>Товары в заказе:</p>
                            {% for product in order.products.all %}
                                <p><strong>{{ product.name }}</strong></p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                {% for place in places %}
                    <div class="order">
                        <div class="order-header">
                            <span class="order-date">{{ place.datetime_made|date:"d E Y, H:i" }}</span>
                            <span class="order-total">Сумма: {{ place.place.price }} руб.</span>
                        </div>
                        <div class="order-items">
                            <p>Тип места:</p>
                            <p><strong>{{ place.place.place_type }}</strong></p>
                        </div>
                        <div class="order-items">
                            <p>Обитатели:</p>
                            <p><strong>{{ place.place.inhabiants }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-orders">
                    <img src="{% static 'products/images/delbox.png' %}" alt="No orders" class="no-orders-image">
                    <p class="no-orders-text">Вы не авторизованы или у вас ещё нет заказов.</p>
                </div>
            {% endif %}
        </main>

        {% include 'main/footer.html' %}
    </div>
</body>
</html>
